
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:darkcyan;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: .5rem;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  main {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid black;

  }

  main.startKey {
    margin: 2rem;
    padding: 2rem;
  }

  div {
    margin: 2rem;
  }

  div.welcome {
    font-size: 1.5rem;
  }

  div.trivia {
    margin-bottom: 5rem;
  }

  .trivia {
    display: none;
  }

  li {
    margin: 1.5rem;
  }

  div.scoreBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 1rem;
    padding: .5rem;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
  }

  .form-group {
    margin-bottom: 10px;
    justify-content: center;
  }

  form.form.login-form {
    border: 2px solid black;
  }

  form.form.signup-form {
    border: 2px solid black;
  }


  input#email.form-input {
    justify-content: center;
  }

  #startButton {
    transform: scale(1.2);
  }

  #submit {
    transform: scale(1.3);
  }
  
  