<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime Trivia</title>
    <link rel="stylesheet" href="/Develope/public/reset.css" />
    <link rel="stylesheet" href="/Develope//public/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
      </header>
      <main class="startKey">
        <div class="welcome">{{user.name}} Press Start to begin</div>
        <button id="startButton" class="btn" type="submit">🎌Start🎌</button>
      </main>
    </div>

    <script src="/js/script.js"></script>

  </body>
</html>