<div class="trivia-container">
    <div class="question">
        {{#each questions as |question|}}
        <div class="answers">
            {{answerOne}}
            {{answerTwo}}
            {{answerThree}}
            {{answerFour}}
        {{/each}}
        </div>
    </div>
</div>